.body-about-us {
  width: 100%;
  height: 100%;
}

.header {
  background-image: url("../media/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  height: 65vh;
  opacity: 40%;
}

.about-card {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 2%;
}

.about-card img {
  opacity: 60%;
  width: 60%;
  padding: 3%;
  height: 350px;
  transition: 0.5s;
}

.about-card img:hover {
  transition: 0.6s;
  opacity: 90%;
}

.about-card p {
  font-size: 18px;
  text-align: left;
}

.google-map {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-map iframe {
  border: 1px solid #e3cca2b4;
  background-color: #e3cca263;
  opacity: 60%;
  transition: 1s;
}

.google-map iframe:hover {
  transition: 0.6s;
  opacity: 95%;
}

.btn-google {
  width: 150px;
  height: 50px;
  font-size: 16px;
  background-color: #e3cca263;
  border: 1px solid #e3cca2b4;
  color: #4f3909c5;
  font-weight: bold;
  transition: 0.2s;
  border-radius: 0.5rem;
  margin-top: 2%;
}

.btn-google:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}

.hr-about {
  width: 80%;
  opacity: 30%;
}

@media only screen and (max-width: 414px) {
  .header {
    width: 98%;
    height: 25vh;
    opacity: 50%;
  }

  .about-card {
    width: 100%;
  }

  .about-card img {
    width: 130px;
    height: 130px;
    opacity: 94%;
  }
  .left-img {
    margin-left: -16px;
  }

  .right-img {
    margin-right: -7px;
  }

  .about-card p {
    padding: 0%;
    font-size: 14px;
    margin-left: 3px;
  }

  .google-map iframe {
    width: 350px;
    opacity: 94%;
  }
}

@media only screen and (max-width: 768px) {
  .about-card {
    width: 100%;
  }

  .about-card img {
    opacity: 90%;
    width: 250px;
    height: 250px;
  }

  .about-card p {
    margin-left: 1%;
    font-size: 17px;
  }
}
