.admin-container{
    display: flex;
}

.sidebar-admin{
    height: 100vh;
    width: 15%;
    border: 1px solid #4f3909;
}

.sidebar-admin p{
    height: 40px;
    display: flex;
    padding-left: 2%;
    justify-content: center;
    flex-direction: column;
    background-color: #e3cca2a1;
    transition: 0.3s;
}

.active , .link-sidebar:hover{
    background-color: #e3cca2dc;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

.right-side-admin{
    /* margin-left: 1.5%; */
    margin: auto;
    margin-top: 0.5%;
    padding-left: 3%;
    width: 80%;
}