.tooltip{
    background-color: rgba(255, 255, 255, 0.534);
    /* width: 100px; */
    text-align: center;
    border-radius: 0.5rem;
    /* font-size: 13px; */
    /* padding: 1px; */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.096);
    color: #4f3909;
}

.tooltip p{
    font-size: 10px;
}

.container-chart{
    border: 1px solid #4f390933;
    border-radius: 1rem;
    /* margin: auto; */
    padding: 1%;
}