.footer-div {
  background-color: #f3e4c988;
  display: flex;
  color: #8b4513;
  margin-bottom: 2%;
}

.footer-div ul {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
}

.footer-icon {
  width: 30px;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  width: 140px;
}

.list-item-footer {
  list-style: none;
}

.a-item-footer:hover {
  text-decoration: underline;
  color: #8b45137a;
}

.wala-logo {
  width: 60px;
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 1rem;
  transition: 0.4s;
}

.wala-logo:hover {
  transform: scale(1.2);
  opacity: 200%;
  transition: 0.4s;
  cursor: pointer;
}

.made-by {
  list-style: none;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 414px) {
  .footer-div {
    flex-direction: column;
    margin-left: 6%;
  }
}
