.user-data-container{
    padding: 1%;
    border-radius: 1rem;
    margin: 1%;
    background-color: rgba(99, 0, 0, 0.10);
    width: 60%;
    margin: auto;
}

.user-data-container h4{
    display: inline;
}

.copy-icon{
    width: 14px;
    position: relative;
    top: 1px;
    left: 10px;
}

.copy-icon:hover{
    cursor: pointer;
}

.show-hide-icons{
    width: 25px;
    position: relative;
    left: 80%;
}

.show-hide-icons:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 1rem;
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3%;
    margin: auto;
    width: 80%;
    border-top: 1px solid rgba(99, 0, 0, 0.04);
    margin-top: 5%;
    padding: 1%;
}

.content-links{
    text-decoration: none;
    color: #630000;
}

.content-item{
    width: 120px;
    height: 50px;
    margin: 1%;
    padding: 1%;
    text-align: center;
    justify-content: center;
    padding-top: 9%;
    border-radius: 1rem;
    background-color: rgba(99, 0, 0, 0.02);
    border: 1px solid rgba(99, 0, 0, 0.05) ;
}

.content-item:hover{
    cursor: pointer;
    transition: 0.5s;
    text-decoration: underline;
    background-color: rgba(99, 0, 0, 0.10);
}

.balance-container{
    display: flex;
}

.balance{
    width: 90%;
}

.icon{
    width: 20%;

}

.iban-container{
    display: flex;
}

.iban-container .iban-num{
    width: 20%;
}

.iban-container .img{
    width: 4%;
}

.iban-container .msg{
    /* width: auto; */
    /* border: 1px solid red; */
    height: 13px;
    position: relative;
    left: -27px;
    top: -16px;
    background-color: rgba(255, 255, 255, 0.397);
    font-size: 11px;
}