body {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: #f3e4c9;
  color: #8b4513;
  font-family: "Urbanist", sans-serif;
}

.navbar-container {
  background-color: #f3e4c988;
  z-index: 1;
  margin: 0%;
  height: 42px;
  position: sticky;
  top: 0%;
  /* border: 1px solid brown; */
}

.navbar-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0%;
  margin-top: -2.1%;
  margin-left: 1.5%;
}

.navbar-item {
  font-size: 19px;
  text-align: center;
  justify-content: center;
}

.navbar-link {
  text-decoration: none;
  /* border: 1px solid black; */
  color: #8b4513;
}

.navbar-link:hover {
  color: #8b45137a;
  text-decoration: underline;
}

.logo-nav {
  display: flex;
  width: 130px;
  /* margin-top: -1.3%; */
  margin-left: 1%;
  /* border: 1px solid black; */
}

.label-check img {
  width: 30px;
  height: 35px;
}

#check {
  display: none;
}

.label-check {
  margin-top: 0.5%;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* .span-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 14px;
    height: 21px;
    margin-top: 1%;
  }

  .span-container:hover {
    cursor: pointer;
  }

  .span-navbar {
    width: 20px;
    height: 3.5px;
    border-radius: 10rem;
    background-color: #8b4513;
  } */

  .navbar-list {
    /* display: block; */
    /* margin-bottom: 30px; */
    left: 100%;
    position: fixed;
    /* display: flex; */
    flex-direction: column;
    top: 58px;
    width: 100%;
    height: 100vh;
    z-index: 30px;
    background-color: #f3e4c9f5;
    /* border: 1px solid #8b4513; */
    transition: all 0.5s;
  }

  .navbar-container {
    display: flex;
  }

  .logo-nav {
    width: 120px;
    margin-top: 3%;
    margin-left: 4%;
  }

  /* .navbar-item {
    margin-bottom: 30px;
  } */

  .label-check {
    display: inline;
    position: fixed;
    right: 1%;
  }

  .label-check:hover {
    cursor: pointer;
  }

  .navbar-listTrue {
    left: 0;
  }
}

@media only screen and (max-width: 375px) {
  .navbar-container {
    background-color: #f3e4c988;
    z-index: 1;
    width: 100%;
    margin: 0%;
    height: 41px;
    position: sticky;
    top: 0%;
    /* border: 1px solid black; */
  }

  .logo-nav {
    width: 90px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
  }

  .navbar-list {
    flex-direction: column;
    margin-top: 0.1%;
  }

  .navbar-link {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}
