body {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: #f3e4c9;
  color: #837760c7;
  font-family: 'Urbanist', sans-serif;
}

.navbar-container {
  margin: 0%;
  height: 50px;
  position: sticky;
  top: 0%;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0%;
  /* background-color: #f3e4c9; */
  /* border: 1px solid black; */
}

.navbar-item {
  /* text-decoration: none; */
  font-size: 19px;
  /* border: 1px solid black; */
  margin-top: 0.4%;
  text-align: center;
  justify-content: center;
  /* color: #000000c7; */
}

.navbar-link {
  text-decoration: none;
  color: #837760c7;
}

.navbar-link:hover {
  color: #837760c7;
  text-decoration: underline;
}

.logo-nav {
  width: 120px;
  margin-top: 1%;
}
