.policy {
  display: flex;
  margin: auto;
}

.policy input {
  margin-right: 7px;
}

.error-message {
  color: red;
}

.error-message-link {
  text-decoration: none;
  color: rgb(17, 17, 99);
}

.error-message-link:hover {
  text-decoration: underline;
}

.select-nationality {
  width: 41%;
  margin: auto;
  text-align: center;
  margin-bottom: 2.5%;
  font-size: 15px;
  border: 1px solid #58461f;
}

.date-of-birth {
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
  .date-of-birth {
    font-size: 18px;
  }

  .select-nationality {
    font-size: 18px;
    width: 51%;
  }

  .policy {
    font-size: 17px;
  }
}
